@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri/HindSiliguri-SemiBold.eot');
  src:
          local('Hind Siliguri SemiBold'),
          local('HindSiliguri-SemiBold'),
          url('../fonts/HindSiliguri/HindSiliguri-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HindSiliguri/HindSiliguri-SemiBold.woff2') format('woff2'),
          url('../fonts/HindSiliguri/HindSiliguri-SemiBold.woff') format('woff'),
          url('../fonts/HindSiliguri/HindSiliguri-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri/HindSiliguri-Light.eot');
  src:
          local('Hind Siliguri Light'),
          local('HindSiliguri-Light'),
          url('../fonts/HindSiliguri/HindSiliguri-Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HindSiliguri/HindSiliguri-Light.woff2') format('woff2'),
          url('../fonts/HindSiliguri/HindSiliguri-Light.woff') format('woff'),
          url('../fonts/HindSiliguri/HindSiliguri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri/HindSiliguri-Regular.eot');
  src:
          local('Hind Siliguri Regular'),
          local('HindSiliguri-Regular'),
          url('../fonts/HindSiliguri/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HindSiliguri/HindSiliguri-Regular.woff2') format('woff2'),
          url('../fonts/HindSiliguri/HindSiliguri-Regular.woff') format('woff'),
          url('../fonts/HindSiliguri/HindSiliguri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri/HindSiliguri-Medium.eot');
  src:
          local('Hind Siliguri Medium'),
          local('HindSiliguri-Medium'),
          url('../fonts/HindSiliguri/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HindSiliguri/HindSiliguri-Medium.woff2') format('woff2'),
          url('../fonts/HindSiliguri/HindSiliguri-Medium.woff') format('woff'),
          url('../fonts/HindSiliguri/HindSiliguri-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../fonts/HindSiliguri/HindSiliguri-Bold.eot');
  src:
          local('Hind Siliguri Bold'),
          local('HindSiliguri-Bold'),
          url('../fonts/HindSiliguri/HindSiliguri-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/HindSiliguri/HindSiliguri-Bold.woff2') format('woff2'),
          url('../fonts/HindSiliguri/HindSiliguri-Bold.woff') format('woff'),
          url('../fonts/HindSiliguri/HindSiliguri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Hind Siliguri', Helvetica, Arial, sans-serif;
}
