.actor {
  margin: 0 auto;
  padding: 3em;
  max-width: 50em;
}

.img {
  width: 60%;
}

.heading {
  margin-top: 1em;
  font-size: 1.2rem;
}

.text {
  margin-top: 1em;
  text-align: justify;
  line-height: 1.5;
}
