$borderColor: rgba(25, 181, 254, 0.25);
$headingHoverColor: #19b5fe;
$btnBg: #19b5fe;
$btnHoverBg: #019be3;
$btnColor: #fff;

.main {
  margin: 0 auto;
  padding: 2em;
  max-width: 50em;
}

.fullCard {
  display: flex;
  border: 1px solid $borderColor;
}

.info {
  width: 25%;
  border-right: 1px solid $borderColor;;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.heading {
  margin: 0.5em;
  font-size: 1.3rem;
}

.text {
  margin: 0.5em 0.1em;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
}

.strongText {
  font-weight: bold;
}

.stars {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0.5em;
  border-bottom: 1px solid $borderColor;
}

.btnContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5em 2em;
  margin-top: 2em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $btnColor;
  background: $btnBg;
  border: none;
  border-radius: 0.2em;

  &:hover {
    background: $btnHoverBg;
  }
}

.content {
  padding: 0.5em;
  width: 75%;
}

.img {
  width: 100%;
}
