$borderColor: #f2f2f2;

.main {
  min-height: 80vh;
  padding: 2em;
  display: flex;
}

.moviesContainer {
  padding: 1em;
  width: 60%;
  border: 1px solid $borderColor;

}

.movieContainer {
  padding: 1em;
  width: 40%;
  border: 1px solid $borderColor;
}
